<p style="color: green"><%= notice %></p>

<%= render @restaurant %>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %> - <%= review.created_at %>
  <%= link_to "delete review", review_path(review),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %></p>
<% end %>


<div>
  <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %> |
  <%= link_to "Back to restaurants", restaurants_path %>
  <%= link_to "Leave a review", new_restaurant_review_path(@restaurant)  %>
  <%= button_to "Destroy this restaurant", @restaurant, method: :delete %>
</div>
